:root {
    --default-background-color: #d9d9d9;
    /* Default Background Color */
    --primary-color: #828282;
    /* Default Button Color */
    --dark-mode-color: #1a1a1a;
    /* Dark Mode: 10% Grey */
    --light-mode-canvas: white;
    /* Light Mode: White */
    --dark-mode-canvas: black;
    /* Dark Mode: Black */
    --light-mode-text: #1a1a1a;
    /* Light Mode: 10% Grey */
    --dark-mode-text: #d9d9d9;
    /* Dark Mode: 75% Grey */
    --light-mode-border: #9a9a9a;
    /* Light Mode: 60% Grey */
    --dark-mode-border: #4d4d4d;
    /* Dark Mode: 30% Grey */
    --mouseover-color: #ff0000;
    /* Mouseover Color */
    --click-color: #cc0000;
    /* Click Color */
    --selected-color: #ff5555;
    /* Selected Color */
    --disabled-color: #736363;
    /* Disabled Color */
    --default-font: Roboto-Regular, sans-serif;
    /* Default Font */
    --default-font-size: 14px;
    /* Default Font Size */
}

body {
    background-color: var(--default-background-color);
    /* Default Background Color */
    color: var(--light-mode-text);
    /* Default Text Color */
    transition: background-color 2s, color 2s;
    font-family: var(--default-font);
    overflow-x: hidden;
}

body.dark-mode {
    background-color: var(--dark-mode-color);
    color: var(--dark-mode-text);
}

.canvas-container {
    position: absolute;
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    /* width: auto;
    height: auto; */
}

canvas {
    /* display: block; */
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid var(--light-mode-border);
    background-color: var(--light-mode-canvas);
    margin-left: auto;
    margin-right: auto;
    transition: background-color 2s, color 2s;

}

.dark-canvas {
    background-color: var(--dark-mode-canvas);
    border: 1px solid var(--dark-mode-border);
}

#dark-mode-toggle {
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--light-mode-border);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the icon */
    background-color: transparent;
    color: var(--light-mode-text);
    padding-top: 10px;
    /* No padding directly */
}

#dark-mode-toggle::after {
    content: "";
    display: block;
    width: 16px;
    /* Adjust icon size */
    height: 16px;
    /* Adjust icon size */
    background: url('assets/icons/sun.png') no-repeat center center;
    background-size: contain;
    transition: filter 1s;
}

body.dark-mode #dark-mode-toggle::after {
    content: "";
    color: var(--dark-mode-text);
    display: block;
    width: 16px;
    /* Adjust icon size */
    height: 16px;
    /* Adjust icon size */
    background: url('assets/icons/moon.png') no-repeat center center;
    filter: invert(1);
    opacity: 80%;
    /* Adjust brightness */
    background-size: contain;
    transition: filter 1s;
}