@import url('style-theme.css');

.modal-content {
    background-color: var(--default-background-color);
    /* Use the default background color */
    color: var(--light-mode-text);
    /* Use the default text color */
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    border: 1px solid var(--light-mode-border);
    /* Border color based on light mode */
    border-radius: 8px;
    /* Adjust border radius if needed */
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .modal-content {
    background-color: var(--dark-mode-color);
    color: var(--dark-mode-text);
    border: 1px solid var(--dark-mode-border);
}

.modal-header {
    background-color: var(--primary-color);
    /* Header background color */
    color: var(--light-mode-text);
    /* Header text color */
    border-bottom: 1px solid var(--light-mode-border);
    /* Header border */
}

body.dark-mode .modal-header {
    background-color: var(--dark-mode-color);
    color: var(--dark-mode-text);
    border-bottom: 1px solid var(--dark-mode-border);
}

.modal-footer {
    background-color: var(--default-background-color);
    border-top: 1px solid var(--light-mode-border);
}

body.dark-mode .modal-footer {
    background-color: var(--dark-mode-color);
    border-top: 1px solid var(--dark-mode-border);
}

.modal-footer .btn {
    background-color: var(--primary-color);
    color: var(--light-mode-text);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    padding: 8px 16px;
    /* Adjust padding for uniform size */
    font-size: var(--default-font-size);
    width: auto;
    /* Allow buttons to adjust width automatically */
    min-width: 75px;
    /* Ensure a minimum width for uniformity */
    height: 28px;
    /* Set a consistent height */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* Center text within the button */
}

.modal-footer .btn:hover {
    background-color: var(--mouseover-color);
    color: var(--light-mode-text);
}

body.dark-mode .modal-footer .btn {
    background-color: var(--dark-mode-border);
    color: var(--dark-mode-text);
}

body.dark-mode .modal-footer .btn:hover {
    background-color: var(--mouseover-color);
    color: var(--dark-mode-text);
}