@import url('style-theme.css');

#floating-toolbar {
    position: absolute;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--default-background-color);
    border: 1px solid var(--light-mode-border);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: move;
}

#floating-toolbar .toolbar-btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: var(--light-mode-text);
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#floating-toolbar .toolbar-btn:hover {
    background-color: var(--mouseover-color);
}

#floating-toolbar .toolbar-btn:active {
    background-color: var(--active-color);
}

#floating-toolbar .toolbar-btn:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

#floating-toolbar .toolbar-btn:disabled:hover {
    background-color: var(--disabled-color);
}

/* add darkmode styling */
body.dark-mode #floating-toolbar {
    background-color: var(--dark-mode-color);
    border: 1px solid var(--dark-mode-border);
}

body.dark-mode #floating-toolbar .toolbar-btn {
    background-color: var(--dark-mode-primary-color);
    color: var(--dark-mode-text);
}

body.dark-mode #floating-toolbar .toolbar-btn:hover {
    background-color: var(--dark-mode-mouseover-color);
}

body.dark-mode #floating-toolbar .toolbar-btn:active {
    background-color: var(--dark-mode-active-color);
}

body.dark-mode #floating-toolbar .toolbar-btn:disabled {
    background-color: var(--dark-mode-disabled-color);
}