@import url('style-theme.css');

label {
    font-family: var(--default-font);
    font-size: 18px;
    text-align: left;
    position: relative;
}

.label {
    padding-bottom: 5px;
    padding-top: 2px;
    padding-inline: 10px;
    background-color: var(--primary-color);
    color: var(--light-mode-text);
    font-family: var(--default-font);
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;

    border: none;
    /* Remove the border */
    border-radius: 4px;
    outline: none;
    /* Remove the outline */
    box-shadow: none;
    /* Remove the box shadow */
    width: auto;
    /* Set the width to desired size */
    height: auto;
    /* Add the desired space below the button */
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

.labelWhite18 {
    font-family: var(--default-font);
    font-size: 18px;
    text-align: left;
    color: var(--dark-mode-text);
    position: relative;
}

.labelWhite12 {
    font-family: var(--default-font);
    font-size: 12px;
    text-align: center;
    color: var(--dark-mode-text);
    position: relative;
}

.labelWhite12c {
    font-family: var(--default-font);
    font-size: 12px;
    text-align: left;
    color: var(--dark-mode-text);
    position: relative;
}

.labelbig {
    font-family: var(--default-font);
    font-size: 25px;
    text-align: center;
    position: relative;
    padding: 2px;
    margin-inline: 2px;
}

.label2 {
    font-family: var(--default-font);
    font-size: 12px;
    text-align: left;
    position: relative;
}

.label3 {
    font-family: var(--default-font);
    font-size: 10px;
    text-align: center;
    position: relative;
    padding: 2px;
    margin-inline: 2px;
}

.label4 {
    font-family: var(--default-font);
    font-size: 14px;
    text-align: center;
    position: relative;
    padding: 2px;
    margin-inline: 2px;
}

.label4:hover,
.label4:focus {
    background-color: var(--mouseover-color);
    ;
}

.label5 {
    font-family: var(--default-font);
    font-size: 10px;
    text-align: left;
    position: relative;
    padding: 2px;
    margin-inline: 2px;
}

.labelleft {
    font-family: var(--default-font);
    font-size: 12px;
    text-align: left;
    position: relative;
    padding: 2px;
    margin-inline: 2px;
}